<html>
  <head>
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/mdn-min.css?build=919eaca" />
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/wiki-min.css?build=919eaca" />
  </head>
  <body>
    <section id="content">
      <div class="wrap">
        <div id="content-main" class="full">
          <article class="article">
            <header id="article-head">
              <div class="title">
                <h1 class="page-title">Writing [FRAMEWORK] Tests</h1>
              </div>
            </header>

            <div id="wikiArticle" class="page-content boxed">
              <h2>Read first</h2>
              <ul>
                <li><a href="overview.html">[FRAMEWORK] overview</a></li>
                <li><a href="how_to_run.html">How to run [FRAMEWORK] tests</a></li>
              </ul>

              <h2>Hello world</h2>
              <p>Implement the same hello world test for all test systems.</p>

              <h2>Test system specifics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a convallis risus. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat leo ac leo facilisis id tincidunt orci posuere. Phasellus sit amet dolor eros. Donec commodo, dolor non accumsan ornare, neque justo viverra odio, at ullamcorper ligula nunc ut arcu. Vestibulum quis mi non tellus condimentum venenatis. Mauris vel ante ac eros varius gravida nec sed augue. In hac habitasse platea dictumst.</p>

              <h2>Continue reading</h2>
              <ul>
                <li><a href="log_file.html">Understanding the [FRAMEWORK] log file</a></li>
              </ul>
            </div>

            <section class="page-meta">
              <section id="page-tags">
                <div id="deki-page-tags">
                  <ul class="tagit ui-widget">
                    <li class="tagit-choice">
                      <a class="tagit-label">Automation</a>
                    </li>
                    <li class="tagit-choice">
                      <a class="tagit-label">[FRAMEWORK]</a>
                    </li>
                  </ul>
                </div>
              </section>
            </section>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>