<html>
  <head>
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/mdn-min.css?build=919eaca" />
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/wiki-min.css?build=919eaca" />
  </head>
  <body>
    <section id="content">
      <div class="wrap">
        <div id="content-main" class="full">
          <article class="article">
            <header id="article-head">
              <div class="title">
                <h1 class="page-title">Running [FRAMEWORK] Tests</h1>
              </div>
            </header>

            <div id="wikiArticle" class="page-content boxed">
              <h2>Read first</h2>
              <ul>
                <li><a href="overview.html">[FRAMEWORK] overview</a></li>
              </ul>

              <h2>Desktop</h2>

              <h3>Running on try</h3>
              <p>To run the [FRAMEWORK] tests on try, add the following <code>try:</code> block to the end of the topmost commit message when you push to try.</p>
              <pre>[TRYCHOOSER]</pre>
              <p>For more information, refer to the <a href="https://wiki.mozilla.org/Build:TryChooser">TryChooser documentation</a>.</p>

              <h3>Running with build environment</h3>
              <p><a href="">Existing build pages</a></p>

              <h3>Running with built packages</h3>
              <p><a href="">Overall documentation on packaged tests</a></p>

              <h2>Mobile</h2>

              <h3>Running on try</h3>
              <p>To run the [FRAMEWORK] tests on try, add the following <code>try:</code> block to the end of the topmost commit message when you push to try.</p>
              <pre>[TRYCHOOSER]</pre>
              <p>For more information, refer to the <a href="https://wiki.mozilla.org/Build:TryChooser">TryChooser documentation</a>.</p>

              <h3>Running with build environment</h3>
              <p><a href="">Existing build pages</a></p>

              <h3>Running with built packages</h3>
              <p><a href="">Overall documentation on packaged tests (mobile)</a></p>

              <h2>Continue reading</h2>
              <a href="how_to_write.html">How to write [FRAMEWORK] tests</a>
            </div>

            <section class="page-meta">
              <section id="page-tags">
                <div id="deki-page-tags">
                  <ul class="tagit ui-widget">
                    <li class="tagit-choice">
                      <a class="tagit-label">Automation</a>
                    </li>
                    <li class="tagit-choice">
                      <a class="tagit-label">[FRAMEWORK]</a>
                    </li>
                  </ul>
                </div>
              </section>
            </section>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>