<html>
  <head>
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/mdn-min.css?build=919eaca" />
    <link rel="stylesheet" href="http://developer.mozilla.org/media/css/wiki-min.css?build=919eaca" />
  </head>
  <body>
    <section id="content">
      <div class="wrap">
        <div id="content-main" class="full">
          <article class="article">
            <header id="article-head">
              <div class="title">
                <h1 class="page-title">[FRAMEWORK]</h1>
              </div>
            </header>

            <div id="wikiArticle" class="page-content boxed">
              <h2>Overview</h2>
              <p>What it is, what it's used for, what other styles of tests are based on it.</p>

              <h2>Source code</h2>
              <p>Code locations of test, of harness, reviewers</p>

              <h2>Sample of test log</h2>
<pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Etiam tempor tortor vel erat congue dictum consectetur sem tempor.
Duis ullamcorper nibh sit amet nunc porta fringilla.
In blandit gravida nisi sit amet aliquam.
Donec vehicula hendrerit pellentesque.
Cras non dui eu urna viverra ultricies.</pre>

              <h2>Continue reading</h2>
              <ul>
                <li><a href="how_to_run.html">How to run [FRAMEWORK] tests</a></li>
                <li><a href="how_to_write.html">How to write [FRAMEWORK] tests</a></li>
              </ul>
            </div>

            <section class="page-meta">
              <section id="page-tags">
                <div id="deki-page-tags">
                  <ul class="tagit ui-widget">
                    <li class="tagit-choice">
                      <a class="tagit-label">Automation</a>
                    </li>
                    <li class="tagit-choice">
                      <a class="tagit-label">[FRAMEWORK]</a>
                    </li>
                  </ul>
                </div>
              </section>
            </section>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>